button{
  height: 36px;
  padding: 0 16px;
  border-radius: 18px;
	outline: none;
	cursor: pointer;
  text-align: center;
  vertical-align:middle;
  white-space: nowrap;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}