.main-slider-active{
  display: block;
  padding: 0 16px;
  margin: 24px 0 0 0;
  @media (max-width: 480px){
    padding: 0;
    margin: 16px 0;
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 0;
    }
  }
  .slick-slider{
    margin-bottom: 0;
  }
  .slick-slide img{
    width: 100%;
  }
}
.main-slider-inactive{
  display: none;
}