.reviews-active{
  display: block;
  .slick-arrow{
    display: none !important;
  }
}
.reviews-inactive{
  display: none;
}
.review-item{
  text-align: center;
  padding: 16px;
  background: #fff;
  margin: 16px;
  border-radius: 4px;
}
.review-rating{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0;
  color: $yellow;
}
.review-title{
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: $gray-dark;
  margin-bottom: 0;
}
.review-description{
  font-size: 16px;
  line-height: 22px;
  color: $gray-medium;
  margin-bottom: 16px;
}
.review-author{
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: $gray-medium;
  margin-bottom: 4px;
}
.review-dated{
  font-size: 13px;
  line-height: 13px;
  color: $gray-light;
  margin-bottom: 8px;
}
.review-product-thumb{
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.review-product-name{
  font-size: 14px;
  line-height: 18px;
  color: $primary-red;
  margin-bottom: 0;
}